
    <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/chambre.jpg');">
            </div>
<div class="container">

<!--<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
            <!--      Wizard container        --//
            <div class="wizard-container">
                <div class="card wizard-card" data-color="blue" id="wizardProfile">
                    <form  [formGroup]="signupForm" (ngSubmit)="register()" novalidate="novalidate">
                

                        <div class="wizard-header">
                            <h3 class="wizard-title">
                               Inscription
                            </h3>
                            <h5>Veuillez remplir vos informations</h5>
                        </div>
                        <div class="wizard-navigation">
                            <ul class="nav nav-pills">
                                <li class="active" style="width: 33.3333%;"><a href="#about" data-toggle="tab" aria-expanded="true">Informations personnelles</a></li>
                                <li class="" style="width: 33.3333%;"><a href="#formation" data-toggle="tab" aria-expanded="false">Formation</a></li>
                                <li class="" style="width: 33.3333%;"><a href="#account" data-toggle="tab" aria-expanded="false">Informations de connexion</a></li>
                            </ul>
                        <div class="moving-tab" style="width: 156.667px; transform: translate3d(-8px, 0px, 0px); transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);">Informations personnelles</div></div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="about">
                              <div class="row">
                                   
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                                
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            
                                              <mat-form-field>
                                              <input matInput name="nom" type="text" formControlName="nom"  placeholder = "Nom" required  style="width:250px;">
                                              </mat-form-field>
                                            <span class="material-input"></span></div>
                                        
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2">

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">record_voice_over</i>
                                            </span>
                                            
                                              <mat-form-field>
                                              <input matInput name="prenom" type="text" class=" valid" placeholder="Prenom" formControlName="prenom" required  style="width:250px;">
                                              </mat-form-field>
                                            <span class="material-input"></span></div>
                                    
                                        </div>
                                    </div>
                                    <div class="row">
                                    
                                    <div class="col-sm-4  col-sm-offset-6">
                                       
                                            <mat-form-field>
                                            <mat-select name="sexe" placeholder="Sexe" formControlName="sexe" style="font-size:14px;">
                                                
                                                <mat-option value="M">Masculin</mat-option>
                                                <mat-option value="F"> Feminin </mat-option>
                                            </mat-select>
                                            </mat-form-field>
                                        <span class="material-input"></span></div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">payment</i>
                                            </span>
                                            
                                                <mat-form-field>
                                             
                                              <input  matInput name="ce" type="text" placeholder="carte d'etudiant" class="valid" formControlName="ce" required aria-invalid="false" style="width:250px;">
                                                </mat-form-field>
                                            <span class="material-input"></span></div>
                               
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2">

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">payment</i>
                                            </span>
                                            <mat-form-field>
                                              <input matInput name="cni" type="text" class=" valid" placeholder="Numero carte d'identite" formControlName="cni" required aria-invalid="false" style="width:250px;">
                                              </mat-form-field>
                                            <span class="material-input"></span></div>
                                        </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="formation">
                                <h4 class="info-text"> What are you doing?  </h4>
                                 <div class="row">
                                    <div class="col-sm-4  ">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Departement</label>
                                            <select name="departement" class="form-control"formControleName="departement" style="font-size:14px;">
                                                <option disabled="" selected="" value="">Aucun</option>
                                                <option *ngFor="let dep of departements" [value] = "dep.id">{{dep.nom}}</option>
                                            </select>
                                        <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-sm-4  col-sm-offset-2">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Niveau</label>
                                            <select name="niveau" class="form-control" formControlName="niveau" style="font-size:14px;">
                                                <option disabled="" selected=""></option>
                                                <option  *ngFor="let niv of niveaux" [value]="niv.id">{{niv.intitule}}</option>
                                            </select>
                                        <span class="material-input"></span></div>
                                    </div>
                                 </div>
                            </div>
                            <div class="tab-pane" id="account">
                                <div class="row">
                                    
                                    <div class="col-sm-4 ">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Email <small>(required)</small></label>
                                                <input name="email" type="email" formControlName="email" class="form-control valid" aria-required="true" aria-invalid="false" style="width:250px;">
                                            <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4  col-sm-offset-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Mot de passe <small>(required)</small></label>
                                                <input name="password" type="password" formControlName="password" class="form-control valid" aria-required="true" aria-invalid="false" style="width:250px;">
                                            <span class="material-input"></span></div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4  col-sm-offset-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Confirmer mot de passe <small>(required)</small></label>
                                            <input name="password" type="password" formControlName="confirmP" class="form-control valid" aria-required="true" aria-invalid="false" style="width:250px;">
                                        <span class="material-input"></span></div>
                                        <span class="error" *ngIf="  signupForm.controls.password.value != signupForm.controls.confirmP.value">Erreur de confirmation</span>
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type="button" class="btn btn-next btn-fill btn-success btn-wd" name="next" value="Next" >
                                <input type="submit" class="btn btn-finish btn-fill btn-success btn-wd" name="finish" value="Finish" style="display: none;">
                            </div>

                            <div class="pull-left">
                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>-->


<div class="content-center brand" style="margin-top:20px">
        <!-- <div class="card card-signup" data-background-color="blue" style="margin-top:200px">-->
          <mat-card>
             <mat-card-header>
                
                 
                     <mat-toolbar color="primary" style="margin-top:0px;" width="1200">
                         <span class="spacer"></span>
                         <h2  align="center" style="margin-left:300px;">INSCRIPTION</h2>
                         <span class="spacer"></span>
                         </mat-toolbar>
               
                 
               </mat-card-header>
               <form  [formGroup]="signupForm"  (ngSubmit)="register()" class="form-horizontal"    novalidate>
                   <mat-card-content>
                      
                     <mat-grid-list cols="1" rowHeight="100px">
                       <mat-grid-tile  [colspan]="1" class="row">
                           <mat-form-field class="biginput" class="col-sm-4" >
                               <input matInput formControlName="nom" type="text" name="nom" placeholder="Nom"  autofocus>
                           </mat-form-field>
                           
                            <mat-form-field class="biginput" class="col-sm-4 col-sm-offset-2">
                               <input matInput formControlName="prenom" type="text" name="prenom"  placeholder="Prenom" >
                           </mat-form-field>
                           
                       </mat-grid-tile>
             
                       
             
                       <mat-grid-tile  [colspan]="1" class="row">
                           <mat-form-field class="biginput" class="col-sm-4">
                               <input matInput formControlName="ce"  type="text" name="ce"  placeholder="Numero de carte d'etudiant">
                             </mat-form-field>
                             <mat-form-field class="biginput" class="col-sm-4 col-sm-offset-2">
                                 <input matInput formControlName="cni"  type="text" name="cni"  placeholder="Numero de carte d'identite">
                               </mat-form-field>
                             </mat-grid-tile>
             
                       <mat-grid-tile  [colspan]="1" class="row">
                           <mat-form-field class="biginput" class="col-sm-4">
                               <mat-select  formControlName="sexe"  name="sexe"  placeholder="Sexe" >
                                <mat-option value="M" selected>Masculin</mat-option>
                                <mat-option value="F">Feminin</mat-option>
                                </mat-select>
                               </mat-form-field>
                               <mat-form-field class="biginput" class="col-sm-4 col-offset-2">
                                   <input matInput formControlName="email" type="email" name="email"  placeholder="Email" />
                                   </mat-form-field>
                       </mat-grid-tile>
             
                       <mat-grid-tile  [colspan]="1" class="row">
                         <mat-form-field class="biginput" class="col-sm-4">
                          <!-- <input matInput  formControlName = "departement" type="text" name="departement" class="form-control" placeholder="Departement" [value]="etudiant.departementId">-->
                          <mat-select formControlName = "departement" type="text" name="departement" placeholder="Departement"  >    
                           <mat-option *ngFor="let dep of departements" [value] = "dep.id"  >{{dep.nom}}</mat-option>
                          </mat-select>
                         </mat-form-field>
                         <mat-form-field class="biginput" class="col-sm-4 col-sm-offset-2">
                            
                                       <mat-select formControlName = "niveau" type="text" name="niveau" placeholder="Niveau d'etude"  >  
                                        <mat-option  *ngFor="let niv of niveaux"   [value] = "niv.id"  >{{niv.intitule}}</mat-option>
                                       </mat-select>
                           </mat-form-field>
                       </mat-grid-tile>
                       <mat-grid-tile  [colspan]="1" class="row">
                            <mat-form-field class="biginput" class="col-sm-4" >
                                <input matInput formControlName="password" type="password" placeholder="Mot de passe"  >
                            </mat-form-field>
                            
                             <mat-form-field class="biginput" class="col-sm-4 col-sm-offset-2">
                                <input matInput formControlName="confirmP" type="password"   placeholder="Confirmation de mot de passe" >
                            </mat-form-field>
                            
                        </mat-grid-tile>
    
                     </mat-grid-list>
                   
                   
                   </mat-card-content>
                   <mat-card-actions>
                     <mat-grid-list cols="1" rowHeight="45px">
                       
                         <button mat-raised-button *ngIf="!loading" color="primary" type="submit"[disabled] = "! signupForm.valid" >S'inscrire</button><br/><br/>
                         
                       Vous avez deja un compte <a routerLink="/authentification">Connectez-Vous</a>
                     
                     </mat-grid-list>
                   </mat-card-actions>
                 </form>
         
         </mat-card>
                 
            <!-- </div>-->
     
     </div>

</div>
<footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            ESP
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            A propos de nous
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.mat">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, Copyright
                <a href="http://www.invisionapp.com" target="_blank">ESP</a>/
                <a href="https://www.creative-tim.com" target="_blank">UCAD</a>.
            </div>
        </div>
    </footer>
    </div>


