<div class="wrapper text-center">
        <div class="page-header clear-filter" filter-color="orange">
                <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/chambre.jpg');">
                </div>
<div class="container">
  
       <!-- <div class="content-center brand">
                <div class="card card-signup" data-background-color="orange">
                        <form class="form"   [formGroup]="verifierForm" (ngSubmit)="verifierCode()" novalidate>
                            <div class="header text-center">
                                <h4 class="title title-up">Verification Code</h4>
                                <div class="social-line">
                                    <a href="#" class="btn btn-neutral btn-facebook btn-icon btn-round">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" class="btn btn-neutral btn-google btn-icon btn-round">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <label class="label label-info">Un code vous a été envoyé sur votre email</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons text_caps-small"></i>
                                    </span>
                                    <input type="text" placeholder="Code de verification..." class="form-control" formControlName="code" />
                                </div>
                               
                  
                            </div>
                            <div class="footer text-center">
                                <button type="submit" [disabled]=" ! verifierForm.valid || loading" class="btn btn-neutral btn-round btn-lg">Confirmer</button>
                            </div>
                        </form>
                        <label class="alert alert-danger" *ngIf="error">{{error}}</label>

                    </div>
            
            </div>
            </div>-->

            <div class="content-center brand" style="margin-top:20px">
                    <!-- <div class="card card-signup" data-background-color="blue" style="margin-top:200px">-->
                      <mat-card>
                         <mat-card-header>
                            
                             
                                 <mat-toolbar color="primary" style="margin-top:0px;" width="1200">
                                     <span class="spacer"></span>
                                     <h2  align="center" style="margin-left:300px;">CONFIRMATION</h2>
                                     <span class="spacer"></span>
                                     </mat-toolbar>
                           
                             
                           </mat-card-header>
                           <label class="label label-info" style="font-size:20px;">Un code vous a été envoyé sur votre email</label>
                           <form  [formGroup]="verifierForm"  (ngSubmit)="verifierCode()" class="form-horizontal"    novalidate>
                               <mat-card-content>
                                  
                                 <mat-grid-list cols="1" rowHeight="100px">
                                        <mat-grid-tile  [colspan]="1" class="row">
                                                <mat-form-field class="biginput" class="col-sm-10" >
                                                    <input matInput formControlName="email" type="email" name="email" placeholder="Votre email"   >
                                                </mat-form-field>
                                            </mat-grid-tile>
                                   <mat-grid-tile  [colspan]="1" class="row">
                                       <mat-form-field class="biginput" class="col-sm-10" >
                                           <input matInput formControlName="code" type="text" name="code" placeholder="Code de confirmation"  autofocus>
                                       </mat-form-field>
                                       
                                   </mat-grid-tile>
                                   
                             </mat-grid-list>
                   
                   
                    </mat-card-content>
                    <mat-card-actions>
                      <mat-grid-list cols="1" rowHeight="45px">
                        
                          <button mat-raised-button *ngIf="!loading" color="primary" type="submit"[disabled] = "! verifierForm.valid" >Valider</button>
                      
                      </mat-grid-list>
                    </mat-card-actions>
                  </form>
          
          </mat-card>
                  
  
 
</div>
</div>

<footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            ESP
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            A propos de nous
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, Copyright
                <a href="http://www.invisionapp.com" target="_blank">ESP</a>/
                <a href="https://www.creative-tim.com" target="_blank">UCAD</a>.
            </div>
        </div>
    </footer>
</div>
<router-outlet></router-outlet>
