<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/chambre.jpg');">
      </div>
      <div class="container">
         <div class=" brand">
              <img class="n-logo" src="./assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Sunu-Codification</h1>
              <h3>Bienvenue sur votre application de codification en ligne</h3>
          </div>
      </div>

      



 </div>

<div class="section" id="carousel">
<div class="container">
<div class="row justify-content-center">
<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block" src="assets/img/ucad.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Avec CoddifApp,se codifier devient un plaisir</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="assets/img/UCAD-Campus.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Campus universitaire</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="assets/img/IMG_1514.JPG" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Reservez votre chambre en toute securité</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="now-ui-icons arrows-1_minimal-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="now-ui-icons arrows-1_minimal-right"></i>
        </a>
    </div>
</div>
</div>
</div>
</div>


<footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            CodifApp
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            A propos de nous
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, Copyright
                <a href="http://www.invisionapp.com" target="_blank">ESP</a>/
                <a href="https://www.creative-tim.com" target="_blank">UCAD</a>.
            </div>
        </div>
    </footer>
</div>


  